# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
